In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import os

In [3]:
os.getcwd()

'C:\\workspace\\dacon_shop'

In [4]:
init_data = pd.read_csv("dataset/train.csv")

In [5]:
init_data.isna().sum()

id                 0
Store              0
Date               0
Temperature        0
Fuel_Price         0
Promotion1      4153
Promotion2      4663
Promotion3      4370
Promotion4      4436
Promotion5      4140
Unemployment       0
IsHoliday          0
Weekly_Sales       0
dtype: int64

In [6]:
init_data.head()

,id,Store,Date,Temperature,Fuel_Price,Promotion1,Promotion2,Promotion3,Promotion4,Promotion5,Unemployment,IsHoliday,Weekly_Sales
0,1,1,05/02/2010,42.31,2.572,NaN,NaN,NaN,NaN,NaN,8.106,False,1643690.90
1,2,1,12/02/2010,38.51,2.548,NaN,NaN,NaN,NaN,NaN,8.106,True,1641957.44
2,3,1,19/02/2010,39.93,2.514,NaN,NaN,NaN,NaN,NaN,8.106,False,1611968.17
3,4,1,26/02/2010,46.63,2.561,NaN,NaN,NaN,NaN,NaN,8.106,False,1409727.59
4,5,1,05/03/2010,46.50,2.625,NaN,NaN,NaN,NaN,NaN,8.106,False,1554806.68

In [7]:
init_data.describe()

,id,Store,Temperature,Fuel_Price,Promotion1,Promotion2,Promotion3,Promotion4,Promotion5,Unemployment,Weekly_Sales
count,6255.000000,6255.000000,6255.000000,6255.000000,2102.000000,1592.000000,1885.000000,1819.000000,2115.000000,6255.000000,6.255000e+03
mean,3128.000000,23.000000,60.639199,3.344369,7155.930661,3308.125810,1462.535523,3465.952501,4518.993173,8.029236,1.047619e+06
std,1805.807299,12.988211,18.624094,0.455364,8408.206085,9382.823804,9667.580258,6413.116294,6048.661908,1.874875,5.654362e+05
min,1.000000,1.000000,-2.060000,2.472000,0.270000,-265.760000,-29.100000,0.410000,135.160000,4.077000,2.099862e+05
25%,1564.500000,12.000000,47.170000,2.917000,1844.295000,39.755000,4.700000,499.895000,1742.305000,6.916500,5.538695e+05
50%,3128.000000,23.000000,62.720000,3.413000,5221.140000,205.410000,24.600000,1532.630000,3226.410000,7.906000,9.604761e+05
75%,4691.500000,34.000000,75.220000,3.722000,9199.242500,1931.005000,104.010000,3640.905000,5444.030000,8.622000,1.421209e+06
max,6255.000000,45.000000,100.140000,4.308000,88646.760000,104519.540000,141630.610000,67474.850000,108519.280000,14.313000,3.818686e+06

In [8]:
init_data[init_data['Promotion5']==np.nan]

Empty DataFrame
Columns: [id, Store, Date, Temperature, Fuel_Price, Promotion1, Promotion2, Promotion3, Promotion4, Promotion5, Unemployment, IsHoliday, Weekly_Sales]
Index: []

In [9]:
keys = ['Temperature', 'Fuel_Price', 'Promotion1',
       'Promotion2', 'Promotion3', 'Promotion4', 'Promotion5', 'Unemployment',
       'IsHoliday']
keys

['Temperature',
 'Fuel_Price',
 'Promotion1',
 'Promotion2',
 'Promotion3',
 'Promotion4',
 'Promotion5',
 'Unemployment',
 'IsHoliday']

In [10]:
fill_mean_data = init_data.copy()
for a in keys:
    fill_mean_data[a] = init_data[a].fillna(init_data[a].mean())
    
fill_zero_data = init_data.copy()

for a in keys:
    fill_zero_data[a] = init_data[a].fillna(0)

In [11]:
fill_mean_data

,id,Store,Date,Temperature,Fuel_Price,Promotion1,Promotion2,Promotion3,Promotion4,Promotion5,Unemployment,IsHoliday,Weekly_Sales
0,1,1,05/02/2010,42.31,2.572,7155.930661,3308.12581,1462.535523,3465.952501,4518.993173,8.106,False,1643690.90
1,2,1,12/02/2010,38.51,2.548,7155.930661,3308.12581,1462.535523,3465.952501,4518.993173,8.106,True,1641957.44
2,3,1,19/02/2010,39.93,2.514,7155.930661,3308.12581,1462.535523,3465.952501,4518.993173,8.106,False,1611968.17
3,4,1,26/02/2010,46.63,2.561,7155.930661,3308.12581,1462.535523,3465.952501,4518.993173,8.106,False,1409727.59
4,5,1,05/03/2010,46.50,2.625,7155.930661,3308.12581,1462.535523,3465.952501,4518.993173,8.106,False,1554806.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250,6251,45,31/08/2012,75.09,3.867,23641.300000,6.00000,92.930000,6988.310000,3992.130000,8.684,False,734297.87
6251,6252,45,07/09/2012,75.70,3.911,11024.450000,12.80000,52.630000,1854.770000,2055.700000,8.684,True,766512.66
6252,6253,45,14/09/2012,67.87,3.948,11407.950000,3308.12581,4.300000,3421.720000,5268.920000,8.684,False,702238.27
6253,6254,45,21/09/2012,65.32,4.038,8452.200000,92.28000,63.240000,2376.380000,8670.400000,8.684,False,723086.20
6254,6255,45,28/09/2012,64.88,3.997,4556.610000,20.64000,1.500000,1601.010000,3288.250000,8.684,False,713173.95

In [12]:
fill_zero_data

,id,Store,Date,Temperature,Fuel_Price,Promotion1,Promotion2,Promotion3,Promotion4,Promotion5,Unemployment,IsHoliday,Weekly_Sales
0,1,1,05/02/2010,42.31,2.572,0.00,0.00,0.00,0.00,0.00,8.106,False,1643690.90
1,2,1,12/02/2010,38.51,2.548,0.00,0.00,0.00,0.00,0.00,8.106,True,1641957.44
2,3,1,19/02/2010,39.93,2.514,0.00,0.00,0.00,0.00,0.00,8.106,False,1611968.17
3,4,1,26/02/2010,46.63,2.561,0.00,0.00,0.00,0.00,0.00,8.106,False,1409727.59
4,5,1,05/03/2010,46.50,2.625,0.00,0.00,0.00,0.00,0.00,8.106,False,1554806.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250,6251,45,31/08/2012,75.09,3.867,23641.30,6.00,92.93,6988.31,3992.13,8.684,False,734297.87
6251,6252,45,07/09/2012,75.70,3.911,11024.45,12.80,52.63,1854.77,2055.70,8.684,True,766512.66
6252,6253,45,14/09/2012,67.87,3.948,11407.95,0.00,4.30,3421.72,5268.92,8.684,False,702238.27
6253,6254,45,21/09/2012,65.32,4.038,8452.20,92.28,63.24,2376.38,8670.40,8.684,False,723086.20
6254,6255,45,28/09/2012,64.88,3.997,4556.61,20.64,1.50,1601.01,3288.25,8.684,False,713173.95

In [13]:
fill_zero_data.columns

Index(['id', 'Store', 'Date', 'Temperature', 'Fuel_Price', 'Promotion1',
       'Promotion2', 'Promotion3', 'Promotion4', 'Promotion5', 'Unemployment',
       'IsHoliday', 'Weekly_Sales'],
      dtype='object')

In [14]:
train_data= fill_zero_data[['Store','Date','Temperature','Fuel_Price','Promotion1','Promotion2','Promotion3','Promotion4','Promotion5','Unemployment','IsHoliday','Weekly_Sales']]

In [15]:
def get_month(date):
    month = date[3:5]
    month = int(month)
    return month

def get_day(date):
    day = date[0:2]
    month =  int(day)
    return month

def get_year(date):
    day = date[6:]
    day = int(day)
    return day

In [16]:
train_data['Month'] = fill_zero_data['Date'].apply(get_month)
train_data['Day'] = fill_zero_data['Date'].apply(get_day)
train_data['Year'] = fill_zero_data['Date'].apply(get_year)

In [17]:
train_data = train_data[['Store','Month', 'Day', 'Year' ,'Temperature', 'Fuel_Price', 'Promotion1',
       'Promotion2', 'Promotion3', 'Promotion4', 'Promotion5', 'Unemployment',
       'IsHoliday', 'Weekly_Sales']]

In [18]:
train_data.to_csv("train_init.csv",encoding="UTF-8")

In [19]:
train_data

,Store,Month,Day,Year,Temperature,Fuel_Price,Promotion1,Promotion2,Promotion3,Promotion4,Promotion5,Unemployment,IsHoliday,Weekly_Sales
0,1,2,5,2010,42.31,2.572,0.00,0.00,0.00,0.00,0.00,8.106,False,1643690.90
1,1,2,12,2010,38.51,2.548,0.00,0.00,0.00,0.00,0.00,8.106,True,1641957.44
2,1,2,19,2010,39.93,2.514,0.00,0.00,0.00,0.00,0.00,8.106,False,1611968.17
3,1,2,26,2010,46.63,2.561,0.00,0.00,0.00,0.00,0.00,8.106,False,1409727.59
4,1,3,5,2010,46.50,2.625,0.00,0.00,0.00,0.00,0.00,8.106,False,1554806.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250,45,8,31,2012,75.09,3.867,23641.30,6.00,92.93,6988.31,3992.13,8.684,False,734297.87
6251,45,9,7,2012,75.70,3.911,11024.45,12.80,52.63,1854.77,2055.70,8.684,True,766512.66
6252,45,9,14,2012,67.87,3.948,11407.95,0.00,4.30,3421.72,5268.92,8.684,False,702238.27
6253,45,9,21,2012,65.32,4.038,8452.20,92.28,63.24,2376.38,8670.40,8.684,False,723086.20
6254,45,9,28,2012,64.88,3.997,4556.61,20.64,1.50,1601.01,3288.25,8.684,False,713173.95

In [20]:
def holiday_to_number(isholiday):
    if isholiday == True:
        number = 1
    else:
        number = 0
    return number

In [21]:
train_data['IsHoliday'] = fill_zero_data['IsHoliday'].apply(holiday_to_number)

In [22]:
train_data

,Store,Month,Day,Year,Temperature,Fuel_Price,Promotion1,Promotion2,Promotion3,Promotion4,Promotion5,Unemployment,IsHoliday,Weekly_Sales
0,1,2,5,2010,42.31,2.572,0.00,0.00,0.00,0.00,0.00,8.106,0,1643690.90
1,1,2,12,2010,38.51,2.548,0.00,0.00,0.00,0.00,0.00,8.106,1,1641957.44
2,1,2,19,2010,39.93,2.514,0.00,0.00,0.00,0.00,0.00,8.106,0,1611968.17
3,1,2,26,2010,46.63,2.561,0.00,0.00,0.00,0.00,0.00,8.106,0,1409727.59
4,1,3,5,2010,46.50,2.625,0.00,0.00,0.00,0.00,0.00,8.106,0,1554806.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250,45,8,31,2012,75.09,3.867,23641.30,6.00,92.93,6988.31,3992.13,8.684,0,734297.87
6251,45,9,7,2012,75.70,3.911,11024.45,12.80,52.63,1854.77,2055.70,8.684,1,766512.66
6252,45,9,14,2012,67.87,3.948,11407.95,0.00,4.30,3421.72,5268.92,8.684,0,702238.27
6253,45,9,21,2012,65.32,4.038,8452.20,92.28,63.24,2376.38,8670.40,8.684,0,723086.20
6254,45,9,28,2012,64.88,3.997,4556.61,20.64,1.50,1601.01,3288.25,8.684,0,713173.95

In [23]:
train_data.to_csv("first_train_data.csv",encoding="UTF-8",index="id")

In [24]:
from sklearn.preprocessing import OneHotEncoder

In [25]:
dummy = pd.get_dummies(train_data['Store'],prefix='Store')

In [26]:
dummy_train_data=pd.concat([train_data,dummy],axis=1)

In [27]:
dummy_train_data.to_csv("dummy_train.csv",index=False,encoding='UTF-8')

In [28]:
dummy_train_data = dummy_train_data.drop(['Store'],axis=1)

In [29]:
dummy_train_data

,Month,Day,Year,Temperature,Fuel_Price,Promotion1,Promotion2,Promotion3,Promotion4,Promotion5,...,Store_36,Store_37,Store_38,Store_39,Store_40,Store_41,Store_42,Store_43,Store_44,Store_45
0,2,5,2010,42.31,2.572,0.00,0.00,0.00,0.00,0.00,...,0,0,0,0,0,0,0,0,0,0
1,2,12,2010,38.51,2.548,0.00,0.00,0.00,0.00,0.00,...,0,0,0,0,0,0,0,0,0,0
2,2,19,2010,39.93,2.514,0.00,0.00,0.00,0.00,0.00,...,0,0,0,0,0,0,0,0,0,0
3,2,26,2010,46.63,2.561,0.00,0.00,0.00,0.00,0.00,...,0,0,0,0,0,0,0,0,0,0
4,3,5,2010,46.50,2.625,0.00,0.00,0.00,0.00,0.00,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250,8,31,2012,75.09,3.867,23641.30,6.00,92.93,6988.31,3992.13,...,0,0,0,0,0,0,0,0,0,1
6251,9,7,2012,75.70,3.911,11024.45,12.80,52.63,1854.77,2055.70,...,0,0,0,0,0,0,0,0,0,1
6252,9,14,2012,67.87,3.948,11407.95,0.00,4.30,3421.72,5268.92,...,0,0,0,0,0,0,0,0,0,1
6253,9,21,2012,65.32,4.038,8452.20,92.28,63.24,2376.38,8670.40,...,0,0,0,0,0,0,0,0,0,1
6254,9,28,2012,64.88,3.997,4556.61,20.64,1.50,1601.01,3288.25,...,0,0,0,0,0,0,0,0,0,1

In [30]:
dummy_train_data

,Month,Day,Year,Temperature,Fuel_Price,Promotion1,Promotion2,Promotion3,Promotion4,Promotion5,...,Store_36,Store_37,Store_38,Store_39,Store_40,Store_41,Store_42,Store_43,Store_44,Store_45
0,2,5,2010,42.31,2.572,0.00,0.00,0.00,0.00,0.00,...,0,0,0,0,0,0,0,0,0,0
1,2,12,2010,38.51,2.548,0.00,0.00,0.00,0.00,0.00,...,0,0,0,0,0,0,0,0,0,0
2,2,19,2010,39.93,2.514,0.00,0.00,0.00,0.00,0.00,...,0,0,0,0,0,0,0,0,0,0
3,2,26,2010,46.63,2.561,0.00,0.00,0.00,0.00,0.00,...,0,0,0,0,0,0,0,0,0,0
4,3,5,2010,46.50,2.625,0.00,0.00,0.00,0.00,0.00,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250,8,31,2012,75.09,3.867,23641.30,6.00,92.93,6988.31,3992.13,...,0,0,0,0,0,0,0,0,0,1
6251,9,7,2012,75.70,3.911,11024.45,12.80,52.63,1854.77,2055.70,...,0,0,0,0,0,0,0,0,0,1
6252,9,14,2012,67.87,3.948,11407.95,0.00,4.30,3421.72,5268.92,...,0,0,0,0,0,0,0,0,0,1
6253,9,21,2012,65.32,4.038,8452.20,92.28,63.24,2376.38,8670.40,...,0,0,0,0,0,0,0,0,0,1
6254,9,28,2012,64.88,3.997,4556.61,20.64,1.50,1601.01,3288.25,...,0,0,0,0,0,0,0,0,0,1

# 정규화 적용
> Robust 적용 변수 : rb_data <br>
> minmascaler 적용 변수 : Robust
>

In [31]:
from sklearn.preprocessing import RobustScaler, MinMaxScaler

In [32]:
tr_data = dummy_train_data

In [33]:
tr_data.columns

Index(['Month', 'Day', 'Year', 'Temperature', 'Fuel_Price', 'Promotion1',
       'Promotion2', 'Promotion3', 'Promotion4', 'Promotion5', 'Unemployment',
       'IsHoliday', 'Weekly_Sales', 'Store_1', 'Store_2', 'Store_3', 'Store_4',
       'Store_5', 'Store_6', 'Store_7', 'Store_8', 'Store_9', 'Store_10',
       'Store_11', 'Store_12', 'Store_13', 'Store_14', 'Store_15', 'Store_16',
       'Store_17', 'Store_18', 'Store_19', 'Store_20', 'Store_21', 'Store_22',
       'Store_23', 'Store_24', 'Store_25', 'Store_26', 'Store_27', 'Store_28',
       'Store_29', 'Store_30', 'Store_31', 'Store_32', 'Store_33', 'Store_34',
       'Store_35', 'Store_36', 'Store_37', 'Store_38', 'Store_39', 'Store_40',
       'Store_41', 'Store_42', 'Store_43', 'Store_44', 'Store_45'],
      dtype='object')

In [34]:
scaler_target = tr_data[['Temperature', 'Fuel_Price', 'Promotion1',
       'Promotion2', 'Promotion3', 'Promotion4', 'Promotion5', 'Unemployment']]

In [35]:
rb_data = tr_data
mm_data = tr_data

In [36]:
rbs = RobustScaler()
mms = MinMaxScaler()
rbs.fit(scaler_target)
mms.fit(scaler_target)

MinMaxScaler()

In [37]:
rb_temp = rbs.transform(scaler_target)
mm_temp = mms.transform(scaler_target)

In [38]:
rb_data[['Temperature', 'Fuel_Price', 'Promotion1',
       'Promotion2', 'Promotion3', 'Promotion4', 'Promotion5', 'Unemployment']] = rb_temp
mm_data[['Temperature', 'Fuel_Price', 'Promotion1',
       'Promotion2', 'Promotion3', 'Promotion4', 'Promotion5', 'Unemployment']] = mm_temp

In [39]:
rb_data

,Month,Day,Year,Temperature,Fuel_Price,Promotion1,Promotion2,Promotion3,Promotion4,Promotion5,...,Store_36,Store_37,Store_38,Store_39,Store_40,Store_41,Store_42,Store_43,Store_44,Store_45
0,2,5,2010,0.434149,0.054466,0.000000,0.002536,0.000205,0.000000,0.000000,...,0,0,0,0,0,0,0,0,0,0
1,2,12,2010,0.396967,0.041394,0.000000,0.002536,0.000205,0.000000,0.000000,...,0,0,0,0,0,0,0,0,0,0
2,2,19,2010,0.410861,0.022876,0.000000,0.002536,0.000205,0.000000,0.000000,...,0,0,0,0,0,0,0,0,0,0
3,2,26,2010,0.476419,0.048475,0.000000,0.002536,0.000205,0.000000,0.000000,...,0,0,0,0,0,0,0,0,0,0
4,3,5,2010,0.475147,0.083333,0.000000,0.002536,0.000205,0.000000,0.000000,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250,8,31,2012,0.754892,0.759804,0.266691,0.002593,0.000861,0.103569,0.036787,...,0,0,0,0,0,0,0,0,0,1
6251,9,7,2012,0.760861,0.783769,0.124364,0.002658,0.000577,0.027488,0.018943,...,0,0,0,0,0,0,0,0,0,1
6252,9,14,2012,0.684247,0.803922,0.128690,0.002536,0.000236,0.050711,0.048553,...,0,0,0,0,0,0,0,0,0,1
6253,9,21,2012,0.659295,0.852941,0.095347,0.003417,0.000652,0.035219,0.079897,...,0,0,0,0,0,0,0,0,0,1
6254,9,28,2012,0.654990,0.830610,0.051402,0.002733,0.000216,0.023728,0.030301,...,0,0,0,0,0,0,0,0,0,1

In [40]:
rb_data.columns

Index(['Month', 'Day', 'Year', 'Temperature', 'Fuel_Price', 'Promotion1',
       'Promotion2', 'Promotion3', 'Promotion4', 'Promotion5', 'Unemployment',
       'IsHoliday', 'Weekly_Sales', 'Store_1', 'Store_2', 'Store_3', 'Store_4',
       'Store_5', 'Store_6', 'Store_7', 'Store_8', 'Store_9', 'Store_10',
       'Store_11', 'Store_12', 'Store_13', 'Store_14', 'Store_15', 'Store_16',
       'Store_17', 'Store_18', 'Store_19', 'Store_20', 'Store_21', 'Store_22',
       'Store_23', 'Store_24', 'Store_25', 'Store_26', 'Store_27', 'Store_28',
       'Store_29', 'Store_30', 'Store_31', 'Store_32', 'Store_33', 'Store_34',
       'Store_35', 'Store_36', 'Store_37', 'Store_38', 'Store_39', 'Store_40',
       'Store_41', 'Store_42', 'Store_43', 'Store_44', 'Store_45'],
      dtype='object')

In [41]:
from sklearn.model_selection import train_test_split

In [91]:
X_rb = rb_data[['Month', 'Day', 'Year', 'Temperature', 'Fuel_Price', 'Promotion1',
       'Promotion2', 'Promotion3', 'Promotion4', 'Promotion5', 'Unemployment',
       'IsHoliday',  'Store_1', 'Store_2', 'Store_3', 'Store_4',
       'Store_5', 'Store_6', 'Store_7', 'Store_8', 'Store_9', 'Store_10',
       'Store_11', 'Store_12', 'Store_13', 'Store_14', 'Store_15', 'Store_16',
       'Store_17', 'Store_18', 'Store_19', 'Store_20', 'Store_21', 'Store_22',
       'Store_23', 'Store_24', 'Store_25', 'Store_26', 'Store_27', 'Store_28',
       'Store_29', 'Store_30', 'Store_31', 'Store_32', 'Store_33', 'Store_34',
       'Store_35', 'Store_36', 'Store_37', 'Store_38', 'Store_39', 'Store_40',
       'Store_41', 'Store_42', 'Store_43', 'Store_44', 'Store_45']]
y_rb = rb_data[['Weekly_Sales']]
X_mm = mm_data[['Month', 'Day', 'Year', 'Temperature', 'Fuel_Price', 'Promotion1',
       'Promotion2', 'Promotion3', 'Promotion4', 'Promotion5', 'Unemployment',
       'IsHoliday',  'Store_1', 'Store_2', 'Store_3', 'Store_4',
       'Store_5', 'Store_6', 'Store_7', 'Store_8', 'Store_9', 'Store_10',
       'Store_11', 'Store_12', 'Store_13', 'Store_14', 'Store_15', 'Store_16',
       'Store_17', 'Store_18', 'Store_19', 'Store_20', 'Store_21', 'Store_22',
       'Store_23', 'Store_24', 'Store_25', 'Store_26', 'Store_27', 'Store_28',
       'Store_29', 'Store_30', 'Store_31', 'Store_32', 'Store_33', 'Store_34',
       'Store_35', 'Store_36', 'Store_37', 'Store_38', 'Store_39', 'Store_40',
       'Store_41', 'Store_42', 'Store_43', 'Store_44', 'Store_45']]
y_mm = mm_data[['Weekly_Sales']]

In [45]:
from catboost import CatBoostRegressor
import lightgbm as lgb
from xgboost import XGBRegressor

In [ ]:
from lightgbm import regis

In [92]:
X_rb_train,X_rb_test, y_rb_train,y_rb_test= train_test_split(X_rb,y_rb,test_size=0.2)
X_mm_train,X_mm_test, y_mm_train,y_mm_test= train_test_split(X_mm,y_mm,test_size=0.2)

In [94]:
xgb = XGBRegressor(tree_method="hist",base_score=0.56,learning_rate=0.25,n_estimators=290)
xgb.fit(X_rb_train,y_rb_train)

xgb_2 = XGBRegressor(tree_method="hist",base_score=0.56,learning_rate=0.25,n_estimators=290)
xgb_2.fit(X_mm_train,y_mm_train)

XGBRegressor(base_score=0.56, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.25, max_delta_step=0,
             max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=290, n_jobs=8,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='hist',
             validate_parameters=1, verbosity=None)

In [95]:
hist = xgb.predict(X_rb_test)
hist_2 = xgb_2.predict(X_mm_test)

In [109]:
test_data = pd.read_csv("dataset/test.csv")

In [110]:
keys = ['Temperature', 'Fuel_Price', 'Promotion1',
       'Promotion2', 'Promotion3', 'Promotion4', 'Promotion5', 'Unemployment',
       'IsHoliday']
keys

['Temperature',
 'Fuel_Price',
 'Promotion1',
 'Promotion2',
 'Promotion3',
 'Promotion4',
 'Promotion5',
 'Unemployment',
 'IsHoliday']

In [111]:
test_fill_data = test_data.copy()
for a in keys:
    test_fill_data[a] = test_data[a].fillna(init_data[a].mean())
    
test_fill_data = test_data.copy()

for a in keys:
    test_fill_data[a] = test_data[a].fillna(0)

In [112]:
test_fill_data

,id,Store,Date,Temperature,Fuel_Price,Promotion1,Promotion2,Promotion3,Promotion4,Promotion5,Unemployment,IsHoliday
0,1,1,05/10/2012,68.55,3.617,8077.89,0.00,18.22,3617.43,3626.14,6.573,False
1,2,1,12/10/2012,62.99,3.601,2086.18,0.00,8.11,602.36,5926.45,6.573,False
2,3,1,19/10/2012,67.97,3.594,950.33,0.00,4.93,80.25,2312.85,6.573,False
3,4,1,26/10/2012,69.16,3.506,2585.85,31.75,6.00,1057.16,1305.01,6.573,False
4,5,2,05/10/2012,70.27,3.617,6037.76,0.00,10.04,3027.37,3853.40,6.170,False
...,...,...,...,...,...,...,...,...,...,...,...,...
175,176,44,26/10/2012,46.97,3.755,38.65,2.61,0.98,0.00,457.74,5.217,False
176,177,45,05/10/2012,64.89,3.985,5046.74,0.00,18.82,2253.43,2340.01,8.667,False
177,178,45,12/10/2012,54.47,4.000,1956.28,0.00,7.89,599.32,3990.54,8.667,False
178,179,45,19/10/2012,56.47,3.969,2004.02,0.00,3.18,437.73,1537.49,8.667,False
179,180,45,26/10/2012,58.85,3.882,4018.91,58.08,100.00,211.94,858.33,8.667,False

In [113]:
test_fill_data.columns

Index(['id', 'Store', 'Date', 'Temperature', 'Fuel_Price', 'Promotion1',
       'Promotion2', 'Promotion3', 'Promotion4', 'Promotion5', 'Unemployment',
       'IsHoliday'],
      dtype='object')

In [117]:
test_target_data= test_fill_data[['Store','Date','Temperature','Fuel_Price','Promotion1','Promotion2','Promotion3','Promotion4','Promotion5','Unemployment','IsHoliday']]

In [115]:
def get_month(date):
    month = date[3:5]
    month = int(month)
    return month

def get_day(date):
    day = date[0:2]
    month =  int(day)
    return month

def get_year(date):
    day = date[6:]
    day = int(day)
    return day

In [118]:
test_data['Month'] = test_target_data['Date'].apply(get_month)
test_data['Day'] = test_target_data['Date'].apply(get_day)
test_data['Year'] = test_target_data['Date'].apply(get_year)

In [119]:
test_data = test_data[['Store','Month', 'Day', 'Year' ,'Temperature', 'Fuel_Price', 'Promotion1',
       'Promotion2', 'Promotion3', 'Promotion4', 'Promotion5', 'Unemployment',
       'IsHoliday']]

In [20]:
def holiday_to_number(isholiday):
    if isholiday == True:
        number = 1
    else:
        number = 0
    return number

In [120]:
test_data['IsHoliday'] = test_target_data['IsHoliday'].apply(holiday_to_number)

In [121]:
test_data

,Store,Month,Day,Year,Temperature,Fuel_Price,Promotion1,Promotion2,Promotion3,Promotion4,Promotion5,Unemployment,IsHoliday
0,1,10,5,2012,68.55,3.617,8077.89,0.00,18.22,3617.43,3626.14,6.573,0
1,1,10,12,2012,62.99,3.601,2086.18,0.00,8.11,602.36,5926.45,6.573,0
2,1,10,19,2012,67.97,3.594,950.33,0.00,4.93,80.25,2312.85,6.573,0
3,1,10,26,2012,69.16,3.506,2585.85,31.75,6.00,1057.16,1305.01,6.573,0
4,2,10,5,2012,70.27,3.617,6037.76,0.00,10.04,3027.37,3853.40,6.170,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,44,10,26,2012,46.97,3.755,38.65,2.61,0.98,0.00,457.74,5.217,0
176,45,10,5,2012,64.89,3.985,5046.74,0.00,18.82,2253.43,2340.01,8.667,0
177,45,10,12,2012,54.47,4.000,1956.28,0.00,7.89,599.32,3990.54,8.667,0
178,45,10,19,2012,56.47,3.969,2004.02,0.00,3.18,437.73,1537.49,8.667,0
179,45,10,26,2012,58.85,3.882,4018.91,58.08,100.00,211.94,858.33,8.667,0

In [123]:
from sklearn.preprocessing import OneHotEncoder

In [124]:
dummy = pd.get_dummies(test_data['Store'],prefix='Store')

In [125]:
dummy_train_data=pd.concat([test_data,dummy],axis=1)

In [27]:
dummy_train_data.to_csv("dummy_train.csv",index=False,encoding='UTF-8')

In [126]:
dummy_test_data = dummy_train_data.drop(['Store'],axis=1)

In [127]:
dummy_test_data

,Month,Day,Year,Temperature,Fuel_Price,Promotion1,Promotion2,Promotion3,Promotion4,Promotion5,...,Store_36,Store_37,Store_38,Store_39,Store_40,Store_41,Store_42,Store_43,Store_44,Store_45
0,10,5,2012,68.55,3.617,8077.89,0.00,18.22,3617.43,3626.14,...,0,0,0,0,0,0,0,0,0,0
1,10,12,2012,62.99,3.601,2086.18,0.00,8.11,602.36,5926.45,...,0,0,0,0,0,0,0,0,0,0
2,10,19,2012,67.97,3.594,950.33,0.00,4.93,80.25,2312.85,...,0,0,0,0,0,0,0,0,0,0
3,10,26,2012,69.16,3.506,2585.85,31.75,6.00,1057.16,1305.01,...,0,0,0,0,0,0,0,0,0,0
4,10,5,2012,70.27,3.617,6037.76,0.00,10.04,3027.37,3853.40,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,10,26,2012,46.97,3.755,38.65,2.61,0.98,0.00,457.74,...,0,0,0,0,0,0,0,0,1,0
176,10,5,2012,64.89,3.985,5046.74,0.00,18.82,2253.43,2340.01,...,0,0,0,0,0,0,0,0,0,1
177,10,12,2012,54.47,4.000,1956.28,0.00,7.89,599.32,3990.54,...,0,0,0,0,0,0,0,0,0,1
178,10,19,2012,56.47,3.969,2004.02,0.00,3.18,437.73,1537.49,...,0,0,0,0,0,0,0,0,0,1
179,10,26,2012,58.85,3.882,4018.91,58.08,100.00,211.94,858.33,...,0,0,0,0,0,0,0,0,0,1

In [128]:
scaler_target = dummy_test_data[['Temperature', 'Fuel_Price', 'Promotion1',
       'Promotion2', 'Promotion3', 'Promotion4', 'Promotion5', 'Unemployment']]

In [131]:
rb_test_data = dummy_test_data.copy()
mm_test_data = dummy_test_data.copy()

In [132]:
rb_temp = rbs.transform(scaler_target)
mm_temp = mms.transform(scaler_target)

In [133]:
rb_test_data[['Temperature', 'Fuel_Price', 'Promotion1',
       'Promotion2', 'Promotion3', 'Promotion4', 'Promotion5', 'Unemployment']] = rb_temp
mm_test_data[['Temperature', 'Fuel_Price', 'Promotion1',
       'Promotion2', 'Promotion3', 'Promotion4', 'Promotion5', 'Unemployment']] = mm_temp

In [146]:
hist = xgb.predict(rb_test_data)
hist_2 = xgb_2.predict(mm_test_data)

In [147]:
from sklearn.metrics import mean_squared_error

RMSE = mean_squared_error(y_rb_test, hist)**0.5

RMSE_2 = mean_squared_error(y_mm_test, hist_2)**0.5

ValueError: Found input variables with inconsistent numbers of samples: [1251, 180]

In [ ]:
RMSE

In [148]:
test =

SyntaxError: invalid syntax (1500225937.py, line 1)

In [149]:
test

,id,Store,Date,Temperature,Fuel_Price,Promotion1,Promotion2,Promotion3,Promotion4,Promotion5,Unemployment,IsHoliday
0,1,1,05/10/2012,68.55,3.617,8077.89,NaN,18.22,3617.43,3626.14,6.573,False
1,2,1,12/10/2012,62.99,3.601,2086.18,NaN,8.11,602.36,5926.45,6.573,False
2,3,1,19/10/2012,67.97,3.594,950.33,NaN,4.93,80.25,2312.85,6.573,False
3,4,1,26/10/2012,69.16,3.506,2585.85,31.75,6.00,1057.16,1305.01,6.573,False
4,5,2,05/10/2012,70.27,3.617,6037.76,NaN,10.04,3027.37,3853.40,6.170,False
...,...,...,...,...,...,...,...,...,...,...,...,...
175,176,44,26/10/2012,46.97,3.755,38.65,2.61,0.98,NaN,457.74,5.217,False
176,177,45,05/10/2012,64.89,3.985,5046.74,NaN,18.82,2253.43,2340.01,8.667,False
177,178,45,12/10/2012,54.47,4.000,1956.28,NaN,7.89,599.32,3990.54,8.667,False
178,179,45,19/10/2012,56.47,3.969,2004.02,NaN,3.18,437.73,1537.49,8.667,False
179,180,45,26/10/2012,58.85,3.882,4018.91,58.08,100.00,211.94,858.33,8.667,False

In [150]:
a = pd

In [152]:
sample_submission = pd.read_csv("dataset/sample_submission.csv")

sample_submission['Weekly_Sales'] = hist_2

# 정답파일 데이터프레임 확인
sample_submission.head()

sample_submission.to_csv('submission_2.csv',index = False)