In [1]:
import os

import pandas as pd

In [2]:
os.getcwd()

'C:\\workspace\\myml'

In [9]:
init_data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/datasets/train.csv")

In [10]:
keys = ['Temperature', 'Fuel_Price', 'Promotion1',
       'Promotion2', 'Promotion3', 'Promotion4', 'Promotion5', 'Unemployment',
       'IsHoliday']

In [11]:
fill_zero_data = init_data.copy()
for a in keys:
    fill_zero_data[a] = init_data[a].fillna(0)

In [12]:
fill_zero_data

,id,Store,Date,Temperature,Fuel_Price,Promotion1,Promotion2,Promotion3,Promotion4,Promotion5,Unemployment,IsHoliday,Weekly_Sales
0,1,1,05/02/2010,42.31,2.572,0.00,0.00,0.00,0.00,0.00,8.106,False,1643690.90
1,2,1,12/02/2010,38.51,2.548,0.00,0.00,0.00,0.00,0.00,8.106,True,1641957.44
2,3,1,19/02/2010,39.93,2.514,0.00,0.00,0.00,0.00,0.00,8.106,False,1611968.17
3,4,1,26/02/2010,46.63,2.561,0.00,0.00,0.00,0.00,0.00,8.106,False,1409727.59
4,5,1,05/03/2010,46.50,2.625,0.00,0.00,0.00,0.00,0.00,8.106,False,1554806.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250,6251,45,31/08/2012,75.09,3.867,23641.30,6.00,92.93,6988.31,3992.13,8.684,False,734297.87
6251,6252,45,07/09/2012,75.70,3.911,11024.45,12.80,52.63,1854.77,2055.70,8.684,True,766512.66
6252,6253,45,14/09/2012,67.87,3.948,11407.95,0.00,4.30,3421.72,5268.92,8.684,False,702238.27
6253,6254,45,21/09/2012,65.32,4.038,8452.20,92.28,63.24,2376.38,8670.40,8.684,False,723086.20
6254,6255,45,28/09/2012,64.88,3.997,4556.61,20.64,1.50,1601.01,3288.25,8.684,False,713173.95

In [13]:
fill_zero_data= fill_zero_data.drop(["id"],axis=1)

In [14]:
fill_zero_data

,Store,Date,Temperature,Fuel_Price,Promotion1,Promotion2,Promotion3,Promotion4,Promotion5,Unemployment,IsHoliday,Weekly_Sales
0,1,05/02/2010,42.31,2.572,0.00,0.00,0.00,0.00,0.00,8.106,False,1643690.90
1,1,12/02/2010,38.51,2.548,0.00,0.00,0.00,0.00,0.00,8.106,True,1641957.44
2,1,19/02/2010,39.93,2.514,0.00,0.00,0.00,0.00,0.00,8.106,False,1611968.17
3,1,26/02/2010,46.63,2.561,0.00,0.00,0.00,0.00,0.00,8.106,False,1409727.59
4,1,05/03/2010,46.50,2.625,0.00,0.00,0.00,0.00,0.00,8.106,False,1554806.68
...,...,...,...,...,...,...,...,...,...,...,...,...
6250,45,31/08/2012,75.09,3.867,23641.30,6.00,92.93,6988.31,3992.13,8.684,False,734297.87
6251,45,07/09/2012,75.70,3.911,11024.45,12.80,52.63,1854.77,2055.70,8.684,True,766512.66
6252,45,14/09/2012,67.87,3.948,11407.95,0.00,4.30,3421.72,5268.92,8.684,False,702238.27
6253,45,21/09/2012,65.32,4.038,8452.20,92.28,63.24,2376.38,8670.40,8.684,False,723086.20
6254,45,28/09/2012,64.88,3.997,4556.61,20.64,1.50,1601.01,3288.25,8.684,False,713173.95

In [15]:
def get_month(date):
    month = date[3:5]
    month = int(month)
    return month

def get_day(date):
    day = date[0:2]
    month =  int(day)
    return month

def get_year(date):
    day = date[6:]
    day = int(day)
    return day

def holiday_to_number(isholiday):
    if isholiday == True:
        number = 1
    else:
        number = 0
    return number

In [16]:
train_data= fill_zero_data[['Store','Temperature','Fuel_Price','Promotion1','Promotion2','Promotion3','Promotion4','Promotion5','Unemployment','IsHoliday','Weekly_Sales']]

In [17]:

train_data['IsHoliday'] = fill_zero_data['IsHoliday'].apply(holiday_to_number)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [18]:
train_data['Month'] = fill_zero_data['Date'].apply(get_month)
train_data['Day'] = fill_zero_data['Date'].apply(get_day)
train_data['Year'] = fill_zero_data['Date'].apply(get_year)

In [19]:
train_data

,Store,Temperature,Fuel_Price,Promotion1,Promotion2,Promotion3,Promotion4,Promotion5,Unemployment,IsHoliday,Weekly_Sales,Month,Day,Year
0,1,42.31,2.572,0.00,0.00,0.00,0.00,0.00,8.106,0,1643690.90,2,5,2010
1,1,38.51,2.548,0.00,0.00,0.00,0.00,0.00,8.106,1,1641957.44,2,12,2010
2,1,39.93,2.514,0.00,0.00,0.00,0.00,0.00,8.106,0,1611968.17,2,19,2010
3,1,46.63,2.561,0.00,0.00,0.00,0.00,0.00,8.106,0,1409727.59,2,26,2010
4,1,46.50,2.625,0.00,0.00,0.00,0.00,0.00,8.106,0,1554806.68,3,5,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250,45,75.09,3.867,23641.30,6.00,92.93,6988.31,3992.13,8.684,0,734297.87,8,31,2012
6251,45,75.70,3.911,11024.45,12.80,52.63,1854.77,2055.70,8.684,1,766512.66,9,7,2012
6252,45,67.87,3.948,11407.95,0.00,4.30,3421.72,5268.92,8.684,0,702238.27,9,14,2012
6253,45,65.32,4.038,8452.20,92.28,63.24,2376.38,8670.40,8.684,0,723086.20,9,21,2012
6254,45,64.88,3.997,4556.61,20.64,1.50,1601.01,3288.25,8.684,0,713173.95,9,28,2012

In [20]:
dummy = pd.get_dummies(train_data['Store'],prefix='Store')

In [21]:
train_data = pd.concat([train_data,dummy],axis=1)

In [22]:
train_data = train_data.drop(['Store'],axis=1)

In [23]:
train_data.columns

Index(['Temperature', 'Fuel_Price', 'Promotion1', 'Promotion2', 'Promotion3',
       'Promotion4', 'Promotion5', 'Unemployment', 'IsHoliday', 'Weekly_Sales',
       'Month', 'Day', 'Year', 'Store_1', 'Store_2', 'Store_3', 'Store_4',
       'Store_5', 'Store_6', 'Store_7', 'Store_8', 'Store_9', 'Store_10',
       'Store_11', 'Store_12', 'Store_13', 'Store_14', 'Store_15', 'Store_16',
       'Store_17', 'Store_18', 'Store_19', 'Store_20', 'Store_21', 'Store_22',
       'Store_23', 'Store_24', 'Store_25', 'Store_26', 'Store_27', 'Store_28',
       'Store_29', 'Store_30', 'Store_31', 'Store_32', 'Store_33', 'Store_34',
       'Store_35', 'Store_36', 'Store_37', 'Store_38', 'Store_39', 'Store_40',
       'Store_41', 'Store_42', 'Store_43', 'Store_44', 'Store_45'],
      dtype='object')

In [24]:
X_train = train_data[['Temperature', 'Fuel_Price', 'Promotion1', 'Promotion2', 'Promotion3',
       'Promotion4', 'Promotion5', 'Unemployment', 'IsHoliday', 
       'Month', 'Day', 'Year', 'Store_1', 'Store_2', 'Store_3', 'Store_4',
       'Store_5', 'Store_6', 'Store_7', 'Store_8', 'Store_9', 'Store_10',
       'Store_11', 'Store_12', 'Store_13', 'Store_14', 'Store_15', 'Store_16',
       'Store_17', 'Store_18', 'Store_19', 'Store_20', 'Store_21', 'Store_22',
       'Store_23', 'Store_24', 'Store_25', 'Store_26', 'Store_27', 'Store_28',
       'Store_29', 'Store_30', 'Store_31', 'Store_32', 'Store_33', 'Store_34',
       'Store_35', 'Store_36', 'Store_37', 'Store_38', 'Store_39', 'Store_40',
       'Store_41', 'Store_42', 'Store_43', 'Store_44', 'Store_45']]
y_train = train_data[['Weekly_Sales']]